body {
  padding-top: 70px;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f6f9;
}

/* HERO */
.hero {
  min-height: 100vh;
  background: linear-gradient(135deg, #1d2671, #c33764);
}

.profile-img {
  width: 260px;
  height: 260px;
  object-fit: cover;
  border-radius: 50%;
  border: 6px solid #fff;
  box-shadow: 0 15px 40px rgba(0,0,0,0.3);
  transition: transform 0.4s ease;
}

.profile-img:hover {
  transform: scale(1.05);
}

/* SECTION */
section {
  scroll-margin-top: 80px;
}

h2 {
  font-weight: 700;
  color: #1d2671;
}

/* PROJECT CARD */
.card {
  border: none;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 40px rgba(0,0,0,0.15);
}

.card-title {
  font-weight: 600;
  color: #c33764;
}

/* SKILL */
.skill {
  display: inline-block;
  margin: 6px;
  padding: 10px 18px;
  background: linear-gradient(135deg, #c33764, #1d2671);
  color: #fff;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 500;
  transition: transform 0.3s;
}

.skill:hover {
  transform: scale(1.1);
}

/* CONTACT */
#contact {
  background: linear-gradient(135deg, #232526, #414345);
}

footer {
  font-size: 14px;
  background: #00000000;
}
/* WHATSAPP FLOATING */
.wa-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 25px;
  right: 25px;
  background-color: #25d366;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  z-index: 999;
  transition: transform 0.3s ease;
}

.wa-float img {
  width: 35px;
  height: 35px;
}

.wa-float:hover {
  transform: scale(1.1);
}
